<div class="card mt-6" id="mailing-list">
  <div class="card-body overflow-hidden text-center pt-5">
    <div class="row justify-content-center">
      <div class="col-7 col-md-5">
        <%= image_pack_tag 'media/illustrations/gifts.png', class: 'img-fluid' %>
      </div>
    </div>
    <h3 class="mt-3 font-weight-normal fs-2 mt-md-4 fs-md-3"><%= t('.title') %></h3>
    <div class="row justify-content-center">
      <div class="col-10 col-md-7">
        <p class="lead">
          <%= t('.lead') %>
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-4 justify-content-center">
    <div class="col-10 col-md-7">
      <% if flash[:mailing_list_success] %>
        <div class="alert alert-success">
          <%= flash[:mailing_list_success] %>
        </div>
      <% end %>
      <% if flash[:mailing_list_error] %>
        <div class="alert alert-danger">
          <%= flash[:mailing_list_error] %>
        </div>
      <% end %>

      <%= simple_form_for(@mailing_list || MailingList.new, url: mailing_list_path(anchor: 'mailing-list'), wrapper: :vertical_form) do |f| %>
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :name, required: true %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :organization %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :email, required: true %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :telephone, as: :tel, required: true %>
          </div>
          <div class="col-12">
            <%= f.submit class: 'btn btn-primary float-right float-md-left' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center bg-light text-center pt-4">
    <div class="col-10 col-md-7 px-0">
      <h4 class="font-weight-normal mb-3 fs-1 fs-md-2"><%= t('.share') %></h4>
      <div class="form-row my-4">
        <div class="col-xl-6">
          <button class="btn btn-falcon-default btn-block mb-2 mb-xl-0">
            <%= image_pack_tag 'media/logos/gmail.png', width: 20 %>
            <span class="font-weight-medium ml-2"><%= t('.via_email') %></span>
          </button>
        </div>
        <div class="col-xl-6">
          <button class="btn btn-falcon-default btn-block mb-2 mb-xl-0" data-toggle="modal" data-target="#copyLinkModal">
            <i class="fas fa-link text-700"></i>
            <span class="font-weight-medium ml-2"><%= t('.via_link') %></span>
          </button>
          <div class="modal fade" id="copyLinkModal" tabindex="-1" role="dialog" aria-labelledby="copyLinkModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content overflow-hidden">
                <div class="modal-header">
                  <h5 class="modal-title" id="copyLinkModalLabel"><%= t('.link_to_homepage') %></h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="font-weight-light" aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body bg-light p-4">
                  <form data-children-count="1">
                    <input class="form-control form-control-sm invitation-link" value="https://my-zivi.ch#mailing-list" readonly>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
