<main class="main" id="top">
  <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme">
    <div class="container">
      <a class="navbar-brand" href="../index.html"><span class="text-white">MyZivi</span></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarStandard">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" role="button">Home</a>
          </li>
          <li class="nav-item dropdown dropdown-on-hover">
            <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
            <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownPages">
              <div class="card navbar-card-pages shadow-none">
                <div class="card-body scrollbar perfect-scrollbar max-h-dropdown">
                  <div class="row">
                    <div class="col-6 col-md-auto">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/activity.html">Activity</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/associations.html">Associations</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/billing.html">Billing</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/customer-details.html">Customer details</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/event-detail.html">Event detail</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/event-create.html">Event create</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/events.html">Events</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/faq.html">Faq</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/invoice.html">Invoice</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/invite-people.html">Invite people</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/notifications.html">Notifications</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/people.html">People</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/pricing.html">Pricing</a>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/pricing-alt.html">Pricing alt</a>
                      </div>
                    </div>
                    <div class="col-6 col-md-auto">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/profile.html">Profile</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/settings.html">Settings</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/starter.html">Starter</a><a class="nav-link py-1 text-700 font-weight-medium" href="../chat.html">Chat</a><a class="nav-link py-1 text-700 font-weight-medium" href="../kanban.html">Kanban</a><a class="nav-link py-1 text-700 font-weight-medium" href="../widgets.html">Widgets</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/errors/404.html">404</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/errors/500.html">500</a>
                        <div class="nav-link py-1 text-900 font-weight-bold mt-3">Emails</div>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../email/inbox.html">Inbox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../email/email-detail.html">Email
                        detail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../email/compose.html">Compose</a>
                      </div>
                    </div>
                    <div class="col-6 col-md-auto">
                      <div class="nav flex-column">
                        <div class="nav-link py-1 text-900 font-weight-bold">E-commerce</div>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/product-list.html">Product
                          list</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/product-grid.html">Product
                        grid</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/product-details.html">Product
                        details</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/orders.html">Orders</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/order-details.html">Order
                        details</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/customers.html">Customers</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/shopping-cart.html">Shopping
                        cart</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/checkout.html">Checkout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-on-hover">
            <a class="nav-link dropdown-toggle" id="navbarDropdownDocumentation" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation</a>
            <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownDocumentation">
              <div class="bg-white rounded-soft py-2">
                <a class="dropdown-item" href="../documentation/getting-started.html">Getting
                  started</a><a class="dropdown-item" href="../documentation/file-structure.html">File
                structure</a><a class="dropdown-item" href="../documentation/customization.html">Customization</a><a class="dropdown-item" href="../documentation/dark-mode.html">Dark
                mode</a><a class="dropdown-item" href="../documentation/fluid-layout.html">Fluid
                layout</a><a class="dropdown-item" href="../documentation/gulp.html">Gulp</a><a class="dropdown-item" href="../documentation/RTL.html">RTL</a><a class="dropdown-item" href="../documentation/plugins.html">Plugins</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-on-hover">
            <a class="nav-link dropdown-toggle" id="navbarDropdownComponents" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
            <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownComponents">
              <div class="card shadow-none navbar-card-components">
                <div class="card-body scrollbar perfect-scrollbar max-h-dropdown">
                  <div class="row">
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../components/accordion.html">Accordion</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/alerts.html">Alerts</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/avatar.html">Avatar</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/background.html">Background</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/badges.html">Badges</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/breadcrumb.html">Breadcrumb</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/bulk-select.html">Bulk
                        select</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/buttons.html">Buttons</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/cards.html">Cards</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../components/carousel.html">Carousel</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/collapse.html">Collapse</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/countup.html">Countup</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/dropdowns.html">Dropdowns</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/fancyscroll.html">Fancyscroll</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/fancytab.html">Fancytab</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/forms.html">Forms</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/hoverbox.html">Hoverbox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/list-group.html">List
                        group</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../components/modals.html">Modals</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/media-object.html">Media
                        object</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navs.html">Navs</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navbar/default.html">Navbar
                        default</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navbar/vertical.html">Navbar
                        vertical<span class="badge badge-pill ml-2 fs--2 badge-soft-success">Updated</span></a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navbar/top.html">Navbar
                        top</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/cookie-notice.html">Cookie
                        notice</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/page-headers.html">Page
                        headers</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/pagination.html">Pagination</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../components/popovers.html">Popovers</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/progress.html">Progress</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/scrollspy.html">Scrollspy</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/sidepanel.html">Sidepanel</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/spinners.html">Spinners</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/tables.html">Tables</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/tabs.html">Tabs</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/toasts.html">Toasts</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/tooltips.html">Tooltips</a>
                      </div>
                    </div>
                  </div>
                  <div class="nav-link py-1 text-900 font-weight-bold mt-3">Plugins</div>
                  <div class="row">
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/bootstrap-wizard.html">Bootstrap
                          wizard</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/charts/chart-js.html">Chart
                        js</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/charts/echarts.html">Echarts</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/countdown.html">Countdown</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/data-table.html">Data
                        table</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/date-picker.html">Date
                        picker</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/draggable.html">Draggable</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/dropzone.html">Dropzone</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/emojionearea.html">Emojionearea</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/fancybox.html">Fancybox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/fontawesome.html">Fontawesome</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/inline-player.html">Inline
                        player</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/lightbox.html">Lightbox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/lottie.html">Lottie</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/map/google-map.html">Google
                        map</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/map/leaflet-map.html">Leaflet
                        map</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/toastr.html">Toastr</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/owl-carousel.html">Owl
                        carousel</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/perfect-scrollbar.html">Perfect
                          scrollbar</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/progressbar.html">Progressbar</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/raty.html">Raty</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/select2.html">Select2</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/tinymce.html">Tinymce</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/typed-text.html">Typed
                        text</a>
                      </div>
                    </div>
                  </div>
                  <div class="nav-link py-1 text-900 font-weight-bold mt-3">Utilities</div>
                  <div class="row">
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/borders.html">Borders</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/clearfix.html">Clearfix</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/close-icon.html">Close
                        icon</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/colors.html">Colors</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/display.html">Display</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/embed.html">Embed</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/figures.html">Figures</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/flex.html">Flex</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/grid.html">Grid</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/sizing.html">Sizing</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/spacing.html">Spacing</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/stretched-link.html">Stretched
                        link</a>
                      </div>
                    </div>
                    <div class="col-6 col-xl-3">
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/typography.html">Typography</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/vertical-align.html">Vertical
                        align</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/visibility.html">Visibility</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-on-hover">
            <a class="nav-link dropdown-toggle" id="navbarDropdownAuthentication" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Authentication</a>
            <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownAuthentication">
              <div class="card shadow-none navbar-card-auth">
                <div class="card-body scrollbar perfect-scrollbar max-h-dropdown">
                  <img class="position-absolute b-0 r-0" src="<%= asset_pack_path 'media/images/illustrations/authentication-corner.png' %>" width="130" alt="" />
                  <div class="row">
                    <div class="col-6 col-xxl-3">
                      <div class="nav-link py-1 text-900 font-weight-bold">Basic</div>
                      <div class="nav flex-column">
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/login.html">Login</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/logout.html">Logout</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/register.html">Register</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/forgot-password.html">Forgot
                        password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/reset-password.html">Reset
                        password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/confirm-mail.html">Confirm
                        mail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/lock-screen.html">Lock
                        screen</a>
                      </div>
                    </div>
                    <div class="col-6 col-xxl-3">
                      <div class="nav flex-column">
                        <div class="nav-link py-1 text-900 font-weight-bold">Split</div>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/login.html">Login</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/logout.html">Logout</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/register.html">Register</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/forgot-password.html">Forgot
                        password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/reset-password.html">Reset
                        password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/confirm-mail.html">Confirm
                        mail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/lock-screen.html">Lock
                        screen</a>
                      </div>
                    </div>
                    <div class="col-6 col-xxl-3">
                      <div class="nav flex-column">
                        <div class="nav-link py-1 text-900 font-weight-bold mt-3 mt-xxl-0">Card</div>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/login.html">Login</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/logout.html">Logout</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/register.html">Register</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/forgot-password.html">Forgot
                        password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/reset-password.html">Reset
                        password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/confirm-mail.html">Confirm
                        mail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/lock-screen.html">Lock
                        screen</a>
                      </div>
                    </div>
                    <div class="col-6 col-xxl-3">
                      <div class="nav flex-column">
                        <div class="nav-link py-1 text-900 font-weight-bold mt-3 mt-xxl-0">Special</div>
                        <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/wizard.html">Wizard</a><a class="nav-link py-1" href="#!" data-toggle="modal" data-target="#authentication-modal">In
                        Modal</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html"><span class="fas fa-chart-pie d-none d-lg-inline-block" data-toggle="tooltip" data-placement="bottom" title="Dashboard"></span><span class="d-lg-none">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../home/feed.html"><span class="fas fa-list-alt d-none d-lg-inline-block" data-toggle="tooltip" data-placement="bottom" title="Feed"></span><span class="d-lg-none">Feed</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownLogin" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-card" aria-labelledby="navbarDropdownLogin">
              <div class="card shadow-none navbar-card-login">
                <div class="card-body fs--1 p-4 font-weight-normal">
                  <div class="row text-left justify-content-between align-items-center mb-2">
                    <div class="col-auto">
                      <h5 class="mb-0">Log in</h5>
                    </div>
                    <div class="col-auto">
                      <p class="fs--1 text-600 mb-0">or
                        <a href="../authentication/basic/register.html">Create an account</a></p>
                    </div>
                  </div>
                  <form>
                    <div class="form-group">
                      <input class="form-control" type="email" placeholder="Email address" />
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="password" placeholder="Password" />
                    </div>
                    <div class="row justify-content-between align-items-center">
                      <div class="col-auto">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="modal-checkbox" />
                          <label class="custom-control-label" for="modal-checkbox">Remember me</label>
                        </div>
                      </div>
                      <div class="col-auto">
                        <a class="fs--1" href="../authentication/basic/forgot-password.html">Forgot Password?</a></div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Log in</button>
                    </div>
                  </form>
                  <div class="w-100 position-relative mt-4">
                    <hr class="text-300" />
                    <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">or
                      log in with
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="row no-gutters">
                      <div class="col-sm-6 pr-sm-1">
                        <a class="btn btn-outline-google-plus btn-sm btn-block mt-2" href="#"><span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span>
                          google</a></div>
                      <div class="col-sm-6 pl-sm-1">
                        <a class="btn btn-outline-facebook btn-sm btn-block mt-2" href="#"><span class="fab fa-facebook-square mr-2" data-fa-transform="grow-8"></span>
                          facebook</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!" data-toggle="modal" data-target="#exampleModal">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="row text-left justify-content-between align-items-center mb-2">
            <div class="col-auto">
              <h5 id="modalLabel">Register</h5>
            </div>
            <div class="col-auto">
              <p class="fs--1 text-600 mb-0">Have an account? <a href="../authentication/basic/login.html">Login</a></p>
            </div>
          </div>
          <form>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Name" />
            </div>
            <div class="form-group">
              <input class="form-control" type="email" placeholder="Email address" />
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <input class="form-control" type="password" placeholder="Password" />
              </div>
              <div class="form-group col-6">
                <input class="form-control" type="password" placeholder="Confirm Password" />
              </div>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="modal-register-checkbox" />
              <label class="custom-control-label" for="modal-register-checkbox">I accept the <a href="#!">terms </a>and
                <a href="#!">privacy policy</a></label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Register</button>
            </div>
          </form>
          <div class="w-100 position-relative mt-4">
            <hr class="text-300" />
            <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">or
              register with
            </div>
          </div>
          <div class="form-group mb-0">
            <div class="row no-gutters">
              <div class="col-sm-6 pr-sm-1">
                <a class="btn btn-outline-google-plus btn-sm btn-block mt-2" href="#"><span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span>
                  google</a></div>
              <div class="col-sm-6 pl-sm-1">
                <a class="btn btn-outline-facebook btn-sm btn-block mt-2" href="#"><span class="fab fa-facebook-square mr-2" data-fa-transform="grow-8"></span>
                  facebook</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="py-0 overflow-hidden" id="banner">
    <div class="bg-holder overlay" style="background-image:url(<%= asset_pack_path 'media/images/generic/bg-1.jpg' %>);background-position: center bottom;">
    </div>

    <div class="container">
      <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
        <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-left">
          <a class="btn btn-outline-danger mb-4 fs--1 border-2x rounded-pill" href="#!"><span class="mr-2" role="img" aria-label="Gift">🎁</span>Become
            a pro</a>
          <h1 class="text-white font-weight-light">Bring
            <span class="typed-text font-weight-bold" data-typed-text='["design","beauty","elegance","perfection"]'></span><br />to
            your webapp</h1>
          <p class="lead text-white opacity-75">With the power of Falcon, you can now focus only on functionaries for
            your digital products, while leaving the UI design on us!</p>
          <a class="btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" href="#!">Start building with
            the falcon<span class="fas fa-play" data-fa-transform="shrink-6 down-1 right-5"></span></a>
        </div>
        <div class="col-xl-7 offset-xl-1 align-self-end">
          <a class="img-landing-banner" href="../index.html">
            <%= image_pack_tag 'generic/dashboard-alt.png', class: 'img-fluid' %>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="py-3 bg-light shadow-sm">

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
          <img class="landing-cta-img" height="40" src="<%= asset_pack_path 'media/images/logos/b_w/6.png' %>" alt="" />
        </div>
        <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
          <img class="landing-cta-img" height="45" src="<%= asset_pack_path 'media/images/logos/b_w/11.png' %>" alt="" />
        </div>
        <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
          <img class="landing-cta-img" height="30" src="<%= asset_pack_path 'media/images/logos/b_w/2.png' %>" alt="" />
        </div>
        <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
          <img class="landing-cta-img" height="30" src="<%= asset_pack_path 'media/images/logos/b_w/4.png' %>" alt="" />
        </div>
        <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
          <img class="landing-cta-img" height="35" src="<%= asset_pack_path 'media/images/logos/b_w/1.png' %>" alt="" />
        </div>
        <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
          <img class="landing-cta-img" height="40" src="<%= asset_pack_path 'media/images/logos/b_w/10.png' %>" alt="" />
        </div>
        <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
          <img class="landing-cta-img" height="40" src="<%= asset_pack_path 'media/images/logos/b_w/12.png' %>" alt="" />
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <section>

    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <h1 class="fs-2 fs-sm-4 fs-md-5">WebApp theme of the future</h1>
          <p class="lead">Built on top of Bootstrap 4, super modular Falcon provides you gorgeous design &amp;
            streamlined UX for your WebApp.</p>
        </div>
      </div>
      <div class="row align-items-center justify-content-center mt-8">
        <div class="col-md col-lg-5 col-xl-4 pl-lg-6">
          <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/images/illustrations/6.png' %>" alt="" />
        </div>
        <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
          <h5 class="text-danger"><span class="far fa-lightbulb mr-2"></span>PLAN</h5>
          <h3>Blueprint & design </h3>
          <p>With Falcon as your guide, now you have a fine-tuned state of the earth tool to make your wireframe a
            reality.</p>
        </div>
      </div>
      <div class="row align-items-center justify-content-center mt-7">
        <div class="col-md col-lg-5 col-xl-4 pr-lg-6 order-md-2">
          <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/images/illustrations/5.png' %>" alt="" />
        </div>
        <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
          <h5 class="text-info"><span class="far fa-object-ungroup mr-2"></span>BUILD</h5>
          <h3>38 Sets of components</h3>
          <p>Build any UI effortlessly with Falcon's robust set of layouts, 38 sets of built-in elements, carefully
            chosen colors, typography, and css helpers.</p>
        </div>
      </div>
      <div class="row align-items-center justify-content-center mt-7">
        <div class="col-md col-lg-5 col-xl-4 pl-lg-6">
          <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/images/illustrations/4.png' %>" alt="" />
        </div>
        <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
          <h5 class="text-success"><span class="far fa-paper-plane mr-2"></span>DEPLOY</h5>
          <h3>Review and test</h3>
          <p>From IE to iOS, rigorously tested and optimized Falcon will give the near perfect finishing to your webapp;
            from the landing page to the logout screen.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="fs-2 fs-sm-4 fs-md-5">Here's what's in it for you</h1>
          <p class="lead">Things you will get right out of the box with Falcon.</p>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-lg-4">
          <div class="card card-span h-100">
            <div class="card-span-img"><span class="fab fa-sass fs-4 text-info"></span></div>
            <div class="card-body pt-6 pb-4">
              <h5 class="mb-2">Bootstrap 4.3.1</h5>
              <p>Build your webapp with the world's most popular front-end component library along with Falcon's 32 sets
                of carefully designed elements.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-6 mt-lg-0">
          <div class="card card-span h-100">
            <div class="card-span-img"><span class="fab fa-node-js fs-5 text-success"></span></div>
            <div class="card-body pt-6 pb-4">
              <h5 class="mb-2">SCSS & Javascript files</h5>
              <p>With your purchased copy of Falcon, you will get all the uncompressed & documented SCSS and Javascript
                source code files.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-6 mt-lg-0">
          <div class="card card-span h-100">
            <div class="card-span-img"><span class="fab fa-gulp fs-6 text-danger"></span></div>
            <div class="card-body pt-6 pb-4">
              <h5 class="mb-2">Gulp based workflow</h5>
              <p>All the painful or time-consuming tasks in your development workflow such as compiling the SCSS or
                transpiring the JS are automated.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-200 text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-8">
          <div class="owl-carousel owl-theme owl-theme-dark" data-options='{"margin":30,"nav":true,"autoplay":true,"autoplayHoverPause":true,"loop":true,"dots":false,"items":1}'>
            <div class="px-5 px-sm-6">
              <p class="fs-sm-1 fs-md-2 font-italic text-dark">Falcon is the best option if you are looking for a theme
                built with Bootstrap. On top of that, Falcon's creators and support staff are very brilliant and
                attentive to users' needs.</p>
              <p class="fs-0 text-600">- Scott Tolinski, Web Developer</p>
              <img class="w-auto mx-auto" src="<%= asset_pack_path 'media/images/logos/google.png' %>" alt="" height="45" />
            </div>
            <div class="px-5 px-sm-6">
              <p class="fs-sm-1 fs-md-2 font-italic text-dark">We've become fanboys! Easy to change the modular design,
                great dashboard UI, enterprise-class support, fast loading time. What else do you want from a Bootstrap
                Theme?</p>
              <p class="fs-0 text-600">- Jeff Escalante, Developer</p>
              <img class="w-auto mx-auto" src="<%= asset_pack_path 'media/images/logos/netflix.png' %>" alt="" height="30" />
            </div>
            <div class="px-5 px-sm-6">
              <p class="fs-sm-1 fs-md-2 font-italic text-dark">When I first saw Falcon, I was totally blown away by the
                care taken in the interface. It felt like something that I'd really want to use and something I could
                see being a true modern replacement to the current class of Bootstrap themes.</p>
              <p class="fs-0 text-600">- Liam Martens, Designer</p>
              <img class="w-auto mx-auto" src="<%= asset_pack_path 'media/images/logos/paypal.png' %>" alt="" height="45" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-holder overlay" style="background-image:url(<%= asset_pack_path 'media/images/generic/bg-2.jpg' %>);background-position: center top;"></div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <p class="fs-3 fs-sm-4 text-white">Join our community of 20,000+ zivis and management poeple on their
            mission to build better services.</p>
          <button class="btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Start your
            webapp
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-dark pt-8 pb-4">
    <div class="container">
      <div class="position-absolute btn-back-to-top bg-dark">
        <a class="text-600" href="#banner" data-fancyscroll="data-fancyscroll"><span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span></a>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h5 class="text-uppercase text-white opacity-85 mb-3">Our Mission</h5>
          <p class="text-600">Falcon enables front end developers to build custom streamlined user interfaces in a
            matter of hours, while it gives backend developers all the UI elements they need to develop their web app.
            And it's robust design can be easily integrated with backends whether your app is based on ruby on rails,
            laravel, express or any other serverside system.</p>
          <div class="icon-group mt-4">
            <a class="icon-item bg-white text-facebook" href="#!"><span class="fab fa-facebook-f"></span></a><a class="icon-item bg-white text-twitter" href="#!"><span class="fab fa-twitter"></span></a><a class="icon-item bg-white text-google-plus" href="#!"><span class="fab fa-google-plus-g"></span></a><a class="icon-item bg-white text-linkedin" href="#!"><span class="fab fa-linkedin-in"></span></a><a class="icon-item bg-white" href="#!"><span class="fab fa-medium-m"></span></a>
          </div>
        </div>
        <div class="col pl-lg-6 pl-xl-8">
          <div class="row mt-5 mt-lg-0">
            <div class="col-6 col-md-3">
              <h5 class="text-uppercase text-white opacity-85 mb-3">Company</h5>
              <ul class="list-unstyled">
                <li class="mb-1"><a class="text-600" href="#!">About</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Contact</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Careers</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Blog</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Terms</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Privacy</a></li>
                <li><a class="text-600" href="#!">Imprint</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-3">
              <h5 class="text-uppercase text-white opacity-85 mb-3">Product</h5>
              <ul class="list-unstyled">
                <li class="mb-1"><a class="text-600" href="#!">Features</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Roadmap</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Changelog</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Pricing</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Docs</a></li>
                <li class="mb-1"><a class="text-600" href="#!">System Status</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Agencies</a></li>
                <li class="mb-1"><a class="text-600" href="#!">Enterprise</a></li>
              </ul>
            </div>
            <div class="col mt-5 mt-md-0">
              <h5 class="text-uppercase text-white opacity-85 mb-3">From the Blog</h5>
              <ul class="list-unstyled">
                <li>
                  <h5 class="fs-0 mb-0"><a class="text-600" href="#!">New components are ready to publish!</a></h5>
                  <p class="text-600 opacity-50">Jan 15 &bull; 8min read </p>
                </li>
                <li>
                  <h5 class="fs-0 mb-0"><a class="text-600" href="#!">January '19 New Features Newsletter</a></h5>
                  <p class="text-600 opacity-50">Jan 5 &bull; 3min read &starf;</p>
                </li>
                <li>
                  <h5 class="fs-0 mb-0"><a class="text-600" href="#!">Merry Christmas From the Falcon Team.</a></h5>
                  <p class="text-600 opacity-50">Dec 25 &bull; 2min read</p>
                </li>
                <li>
                  <h5 class="fs-0 mb-0"><a class="text-600" href="#!">The New Falcon Theme</a></h5>
                  <p class="text-600 opacity-50">Dec 23 &bull; 10min read </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <section class="py-0 bg-dark">

    <div>
      <hr class="my-0 border-600 opacity-25" />
      <div class="container py-3">
        <div class="row justify-content-between fs--1">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600 opacity-85">Thank you for creating with Falcon
              <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2018 &copy;
              <a class="text-white opacity-85" href="https://themewagon.com">Themewagon</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600 opacity-85">v2.6.0</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
