<%= content_for(:container_class, 'index-container') %>

<%= render 'navbar' %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="row text-left justify-content-between align-items-center mb-2">
          <div class="col-auto">
            <h5 id="modalLabel">Register</h5>
          </div>
          <div class="col-auto">
            <p class="fs--1 text-600 mb-0">Have an account? <a href="../authentication/basic/login.html">Login</a></p>
          </div>
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Name" />
          </div>
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Email address" />
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="password" placeholder="Password" />
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="password" placeholder="Confirm Password" />
            </div>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="modal-register-checkbox" />
            <label class="custom-control-label" for="modal-register-checkbox">I accept the <a href="#!">terms </a>and
              <a href="#!">privacy policy</a></label>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Register</button>
          </div>
        </form>
        <div class="w-100 position-relative mt-4">
          <hr class="text-300" />
          <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">or
            register with
          </div>
        </div>
        <div class="form-group mb-0">
          <div class="row no-gutters">
            <div class="col-sm-6 pr-sm-1">
              <a class="btn btn-outline-google-plus btn-sm btn-block mt-2" href="#"><span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span>
                google</a></div>
            <div class="col-sm-6 pl-sm-1">
              <a class="btn btn-outline-facebook btn-sm btn-block mt-2" href="#"><span class="fab fa-facebook-square mr-2" data-fa-transform="grow-8"></span>
                facebook</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="py-0 overflow-hidden" id="banner">
  <div class="bg-holder overlay" style="background-image:url(<%= asset_pack_path 'media/generic/bg-1.jpg' %>);background-position: center bottom;">
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
      <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-left">
        <a class="btn btn-outline-danger mb-4 fs--1 border-2x rounded-pill" href="#!"><span class="mr-2" role="img" aria-label="Gift">🎁</span>Become
          a pro</a>
        <h1 class="text-white font-weight-light">Bring
          <span class="typed-text font-weight-bold" data-typed-text='["design","beauty","elegance","perfection"]'></span><br />to
          your webapp</h1>
        <p class="lead text-white opacity-75">With the power of Falcon, you can now focus only on functionaries for
          your digital products, while leaving the UI design on us!</p>
        <a class="btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" href="#!">Start building with
          the falcon<span class="fas fa-play" data-fa-transform="shrink-6 down-1 right-5"></span></a>
      </div>
      <div class="col-xl-7 offset-xl-1 align-self-end">
        <a class="img-landing-banner" href="../index.html">
          <%= image_pack_tag 'media/generic/dashboard-alt.png', class: 'img-fluid' %>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="py-3 bg-light shadow-sm">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <img class="landing-cta-img" height="30" src="<%= asset_pack_path 'media/b_w/2.png' %>" alt="" />
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <img class="landing-cta-img" height="30" src="<%= asset_pack_path 'media/b_w/4.png' %>" alt="" />
      </div>
      <div class="col-3 col-sm-auto my-1 my-sm-3 px-card">
        <img class="landing-cta-img" height="35" src="<%= asset_pack_path 'media/b_w/1.png' %>" alt="" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="fs-2 fs-sm-4 fs-md-5">WebApp theme of the future</h1>
        <p class="lead">Built on top of Bootstrap 4, super modular Falcon provides you gorgeous design &amp;
          streamlined UX for your WebApp.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-8">
      <div class="col-md col-lg-5 col-xl-4 pl-lg-6">
        <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/illustrations/6.png' %>" alt="" />
      </div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h5 class="text-danger"><span class="far fa-lightbulb mr-2"></span>PLAN</h5>
        <h3>Blueprint & design </h3>
        <p>With Falcon as your guide, now you have a fine-tuned state of the earth tool to make your wireframe a
          reality.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-7">
      <div class="col-md col-lg-5 col-xl-4 pr-lg-6 order-md-2">
        <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/illustrations/5.png' %>" alt="" />
      </div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h5 class="text-info"><span class="far fa-object-ungroup mr-2"></span>BUILD</h5>
        <h3>38 Sets of components</h3>
        <p>Build any UI effortlessly with Falcon's robust set of layouts, 38 sets of built-in elements, carefully
          chosen colors, typography, and css helpers.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-7">
      <div class="col-md col-lg-5 col-xl-4 pl-lg-6">
        <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/illustrations/4.png' %>" alt="" />
      </div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h5 class="text-success"><span class="far fa-paper-plane mr-2"></span>DEPLOY</h5>
        <h3>Review and test</h3>
        <p>From IE to iOS, rigorously tested and optimized Falcon will give the near perfect finishing to your webapp;
          from the landing page to the logout screen.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Here's what's in it for you</h1>
        <p class="lead">Things you will get right out of the box with Falcon.</p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-4">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fab fa-sass fs-4 text-info"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Bootstrap 4.3.1</h5>
            <p>Build your webapp with the world's most popular front-end component library along with Falcon's 32 sets
              of carefully designed elements.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fab fa-node-js fs-5 text-success"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">SCSS & Javascript files</h5>
            <p>With your purchased copy of Falcon, you will get all the uncompressed & documented SCSS and Javascript
              source code files.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fab fa-gulp fs-6 text-danger"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Gulp based workflow</h5>
            <p>All the painful or time-consuming tasks in your development workflow such as compiling the SCSS or
              transpiring the JS are automated.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-200 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-xl-8">
        <div class="owl-carousel owl-theme owl-theme-dark" data-options='{"margin":30,"nav":true,"autoplay":true,"autoplayHoverPause":true,"loop":true,"dots":false,"items":1}'>
          <div class="px-5 px-sm-6">
            <p class="fs-sm-1 fs-md-2 font-italic text-dark">Falcon is the best option if you are looking for a theme
              built with Bootstrap. On top of that, Falcon's creators and support staff are very brilliant and
              attentive to users' needs.</p>
            <p class="fs-0 text-600">- Scott Tolinski, Web Developer</p>
            <img class="w-auto mx-auto" src="<%= asset_pack_path 'media/logos/google.png' %>" alt="" height="45" />
          </div>
          <div class="px-5 px-sm-6">
            <p class="fs-sm-1 fs-md-2 font-italic text-dark">We've become fanboys! Easy to change the modular design,
              great dashboard UI, enterprise-class support, fast loading time. What else do you want from a Bootstrap
              Theme?</p>
            <p class="fs-0 text-600">- Jeff Escalante, Developer</p>
            <img class="w-auto mx-auto" src="<%= asset_pack_path 'media/logos/netflix.png' %>" alt="" height="30" />
          </div>
          <div class="px-5 px-sm-6">
            <p class="fs-sm-1 fs-md-2 font-italic text-dark">When I first saw Falcon, I was totally blown away by the
              care taken in the interface. It felt like something that I'd really want to use and something I could
              see being a true modern replacement to the current class of Bootstrap themes.</p>
            <p class="fs-0 text-600">- Liam Martens, Designer</p>
            <img class="w-auto mx-auto" src="<%= asset_pack_path 'media/logos/apple.png' %>" alt="" height="45" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-holder overlay" style="background-image:url(<%= asset_pack_path 'media/generic/bg-2.jpg' %>);background-position: center top;"></div>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <p class="fs-3 fs-sm-4 text-white">Join our community of 20,000+ zivis and management poeple on their
          mission to build better services.</p>
        <button class="btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Start your
          webapp
        </button>
      </div>
    </div>
  </div>
</section>
<section class="pt-2">
  <div class="container">
    <%= render 'mailing_list' %>
  </div>
</section>

<%= render 'footer' %>
