<%= content_for(:container_class, 'index-container') %>

<%= render 'home/navbar' %>
<section class="py-0 overflow-hidden" id="banner">
  <div class="bg-holder overlay" style="background-image:url(<%= asset_pack_path 'media/generic/bg-1.jpg' %>);background-position: center bottom;">
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
      <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-left">
        <h1 class="text-white font-weight-light">MyZivi</h1>
        <p class="lead text-white opacity-75">Mit MyZivi verwaltest Du Zivildienstleistende in Deinem Betrieb. MyZivi vereinfacht Deine Prozesse, ermöglicht agileres Handels und unterstützt Dich bei der Einsatzplanung von A-Z.</p>
        <a class="btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" href="#mailing-list">Jetzt Demo anfordern<span class="fas fa-play" data-fa-transform="shrink-6 down-1 right-5"></span></a>
      </div>
    </div>
  </div>
</section>
<!--      TODO: Bereich für Partnerschaften-->
<section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Die Vorteile, die MyZivi Dir bietet</h1>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-6">
      <div class="col-md col-lg-5 col-xl-4 pl-lg-6">
        <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/illustrations/6.png' %>" alt="" />
      </div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h3>Verwalten</h3>
        <p>Mit MyZivi sparst Du Zeit bei allen Büroarbeiten rund um Zivildiensteinsätze. </p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-7">
      <div class="col-md col-lg-5 col-xl-4 pr-lg-6 order-md-2">
        <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/illustrations/2.png' %>" alt="" />
      </div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h3>Berechnen</h3>
        <p>Mit MyZivi garantierst Du die korrekten Berechnung rund um Spesenauszahlung und Arbeitstagberechnungen.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-7">
      <div class="col-md col-lg-5 col-xl-4 pl-lg-6">
        <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/illustrations/4.png' %>" alt="" />
      </div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h3>Sichern</h3>
        <p>Mit MyZivi archivierst Du Deine Daten korrekt und kannst jederzeit von überall in der Welt darauf zugreifen.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-7">
      <div class="col-md col-lg-5 col-xl-4 pr-lg-6 order-md-2">
        <img class="img-fluid px-6 px-md-0" src="<%= asset_pack_path 'media/illustrations/3.png' %>" alt="" />
      </div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h3>Finden</h3>
        <p>Mit MyZivi findest Du einen passenden Zivildienstleistenden in kürzester Zeit.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Mit MyZivi:</h1>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-4">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fas fa-hourglass-half fs-4 text-info"></span></div>
          <div class="card-body pt-6 pb-4">
            <p>...sparst Du Zeit durch Vereinfachung von Prozessen</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fas fa-calculator fs-5 text-success"></span></div>
          <div class="card-body pt-6 pb-4">
            <p>...ergeben sich nie wieder Falschberechnung in Spesen und Arbeitstagen</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fas fa-file-contract fs-6 text-danger"></span></div>
          <div class="card-body pt-6 pb-4">
            <p>...garantierst Du korrekte Meldeprozesse für den Bund</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-2">
  <div class="container">
    <%= render 'home/mailing_list' %>
  </div>
</section>

<%= render 'home/footer' %>
